/* $Id$ */
/**
 * @file
 * Block Styling
 */
/* line 9, ../scss/blocks.scss */
.block {
  /* margin-bottom: 1em; */
}

/* Welcome Message and Next Shift styling */
/* line 96, ../scss/blocks.scss */
.region-header .block {
  margin: 0px 0px 0px 0px;
}

/* line 101, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message,
#block-views-my_shift_signups-block_1 {
  float: right;
  border: 1px solid #FFF;
  background: #d2d2d2;
  /* Should be replaced by a variable */
  padding: 5px;
  margin: 0px 0px 0px 0px;
  width: 375px;
}
/* line 109, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message h2.title,
#block-views-my_shift_signups-block_1 h2.title {
  display: block;
  background: #777;
  line-height: 30px;
  padding: 0 5px;
}
/* line 116, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message .item-list ul, #block-boxes-volunteer_shifts_welcome_message .item-list ul li,
#block-views-my_shift_signups-block_1 .item-list ul,
#block-views-my_shift_signups-block_1 .item-list ul li {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}
/* line 122, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message .item-list ul li .views-field-field-shift-date-value,
#block-views-my_shift_signups-block_1 .item-list ul li .views-field-field-shift-date-value {
  font-size: 1.125em;
}
/* line 127, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message .item-list ul li .views-field-edit-node,
#block-boxes-volunteer_shifts_welcome_message .item-list ul li .views-field-delete-node,
#block-views-my_shift_signups-block_1 .item-list ul li .views-field-edit-node,
#block-views-my_shift_signups-block_1 .item-list ul li .views-field-delete-node {
  float: left;
}
/* line 132, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message .item-list ul li .views-field-edit-node a:link,
#block-views-my_shift_signups-block_1 .item-list ul li .views-field-edit-node a:link {
  margin: 0 3px 0 0px;
  -moz-border-radius: 6px 6px 6px 6px;
  border: 4px solid #D2D2D2;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  text-shadow: 0 1px 0 #333;
}
/* line 148, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message .item-list ul li .views-field-delete-node a:link,
#block-views-my_shift_signups-block_1 .item-list ul li .views-field-delete-node a:link {
  margin: 0 3px 0 0px;
  text-shadow: 0 1px 0 #333;
  -moz-border-radius: 6px 6px 6px 6px;
  border: 4px solid #D2D2D2;
  color: #FFFFFF;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
  background: #b2b2b2;
}
/* line 164, ../scss/blocks.scss */
#block-boxes-volunteer_shifts_welcome_message .more-link,
#block-views-my_shift_signups-block_1 .more-link {
  background: none repeat scroll 0 0 #FFFFFF;
  float: right;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 36px;
  width: 100px;
}

/* line 175, ../scss/blocks.scss */
#block-views-my_shift_signups-block_1 h2.title {
  padding: 0 0 0 30px;
  background: transparent url("../images/clock-icon.png") 4px 4px no-repeat;
  margin: 0 0 10px 0;
}
