/**
 * @file
 * Calendar styling for Iggy.
 */
/*****************************************************************************
 ************************* Calendar Stylings *********************************
 ****************************************************************************/
div#calpopup-body { overflow: hidden; }

/* line 10, ../scss/calendar-styles.scss */
.calendar-calendar > ul.links {
  display: table;
  border-radius: 3px;
  border: 1px #AFAFAF solid;
  background-color: #EFEFEF;
  padding: 3px;
}

/* line 13, ../scss/calendar-styles.scss */
.calendar-calendar div.date-nav {
  height: 36px;
  background-color: transparent;
  border: 0 none;
  padding: 0;
  overflow: hidden;
  margin: 0 0 5px 0;
}

/* line 23, ../scss/calendar-styles.scss */
.calendar-calendar div.date-nav div.date-prev,
.calendar-calendar div.date-nav div.date-next {
  width: 128px;
}
/* line 25, ../scss/calendar-styles.scss */
.calendar-calendar div.date-nav div.date-prev a,
.calendar-calendar div.date-nav div.date-next a {
  color: #353535;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  padding: 0px 10px;
  border: 4px solid #d2d2d2;
  -moz-border-radius: 3px 3px 3px 3px;
  background: #ECE7E2;
}
/* line 39, ../scss/calendar-styles.scss */
.calendar-calendar div.date-nav div.date-prev span {
  float: left;
}
/* line 42, ../scss/calendar-styles.scss */
.calendar-calendar div.date-nav div.date-next span {
  float: right;
}

/* line 46, ../scss/calendar-styles.scss */
.calendar-calendar div.date-heading {
  width: 644px;
}

/* line 49, ../scss/calendar-styles.scss */
.calendar-calendar div.date-heading h3 {
  font-size: 2.5em;
  color: black;
}

/* line 53, ../scss/calendar-styles.scss */
.calendar-calendar table th.days {
  font-size: 1.1em;
  height: 3.4em;
  border-bottom: 10px solid white;
}

/* line 58, ../scss/calendar-styles.scss */
.calendar-calendar table td {
  border-color: white;
}

/* line 61, ../scss/calendar-styles.scss */
.calendar-calendar table td div.inner {
  min-height: 9em;
}

/* line 64, ../scss/calendar-styles.scss */
.calendar-calendar td.empty {
  border-color: white;
}

/* line 67, ../scss/calendar-styles.scss */
.calendar-calendar td div.calendar-empty {
  line-height: 0;
}

/* line 70, ../scss/calendar-styles.scss */
.calendar-calendar td .inner div.month.day {
  float: left;
  width: auto;
  border-width: 0 0 0 0;
  padding: 6px 0 0 8px;
  background-color: transparent;
}

/* line 77, ../scss/calendar-styles.scss */
.calendar-calendar td .inner div.month.day a {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: black;
  background-color: transparent;
}

/* line 85, ../scss/calendar-styles.scss */
.calendar-calendar tr td.today .inner .month.day a,
.calendar-calendar tr.odd td.today .inner .month.day a,
.calendar-calendar tr.even td.today .inner .month.day a {
  color: white;
}

/* line 89, ../scss/calendar-styles.scss */
#calpopup {
  border: 4px solid;
}

/* line 93, ../scss/calendar-styles.scss */
#calpopup-body {
  margin: 1em;
  max-height: 10em;
  overflow-y: auto;
  position: relative;
  font-size: 0.75em;
  clear: right;
}
/* line 100, ../scss/calendar-styles.scss */
#calpopup-body .content {
  margin: 5px 0;
}
/* line 103, ../scss/calendar-styles.scss */
#calpopup-body ul.links li a:link {
  -moz-border-radius: 3px 3px 3px 3px;
  border: 4px solid #D2D2D2;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 28px;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  width: 150px;
}
/* line 115, ../scss/calendar-styles.scss */
#calpopup-body .volunteer-shifts-remaining-capacity {
  float: right;
  display: block;
  padding: 5px;
  width: 110px;
  text-align: center;
  position: relative;
  right: 10px;
  top: -65px;
}
/* line 124, ../scss/calendar-styles.scss */
#calpopup-body .volunteer-shifts-remaining-capacity span.remaining-capacity {
  font-size: 4.5em;
}

/* line 130, ../scss/calendar-styles.scss */
#popup-close {
  float: right;
  padding: 4px 8px 1px;
  position: relative;
  right: 5px;
  text-align: center;
  top: -27px;
}
/* line 137, ../scss/calendar-styles.scss */
#popup-close img#popup-close-img {
  background: #FFF;
  border: 1px solid #e0e0e0;
}
