/**
 * @file
 * Calendar styling for Iggy.
 */
/*****************************************************************************
 ************************* Calendar Stylings *********************************
 ****************************************************************************/
/* temporarily hide these links until we decide what to do with them*/
/* line 10, ../scss/calendar-styles.scss */
.calendar-calendar > ul.links {
  display: none;
}

/* line 13, ../scss/calendar-styles.scss */
.calendar-calendar div.date-nav {
  height: 10em;
  background-color: transparent;
  border: 0 none;
  padding: 0;
}

/* line 19, ../scss/calendar-styles.scss */
.calendar-calendar div.date-prev {
  width: 150px;
  height: 2.5em;
  text-align: left;
}

/* line 24, ../scss/calendar-styles.scss */
.calendar-calendar div.date-next {
  width: 150px;
  height: 2.5em;
  text-align: right;
}

/* line 30, ../scss/calendar-styles.scss */
.calendar-calendar div.date-prev a,
.calendar-calendar div.date-next a {
  display: block;
  font-size: 1.5em;
  height: 2.5em;
  width: 150px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* line 39, ../scss/calendar-styles.scss */
.calendar-calendar div.date-heading {
  width: 580px;
  padding-bottom: 2em;
}

/* line 43, ../scss/calendar-styles.scss */
.calendar-calendar div.date-heading h3 {
  font-size: 2.5em;
  color: black;
}

/* line 47, ../scss/calendar-styles.scss */
.calendar-calendar table th.days {
  font-size: 1.1em;
  height: 3.4em;
  border-bottom: 10px solid white;
}

/* line 52, ../scss/calendar-styles.scss */
.calendar-calendar table td {
  border-color: white;
}

/* line 55, ../scss/calendar-styles.scss */
.calendar-calendar table td div.inner {
  min-height: 9em;
}

/* line 58, ../scss/calendar-styles.scss */
.calendar-calendar td.empty {
  border-color: white;
}

/* line 61, ../scss/calendar-styles.scss */
.calendar-calendar td div.calendar-empty {
  line-height: 0;
}

/* line 64, ../scss/calendar-styles.scss */
.calendar-calendar td .inner div.month.day {
  float: left;
  width: auto;
  border-width: 0 0 0 0;
  padding: 6px 0 0 8px;
  background-color: transparent;
}

/* line 71, ../scss/calendar-styles.scss */
.calendar-calendar td .inner div.month.day a {
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: black;
  background-color: transparent;
}

/* line 79, ../scss/calendar-styles.scss */
.calendar-calendar tr td.today .inner .month.day a,
.calendar-calendar tr.odd td.today .inner .month.day a,
.calendar-calendar tr.even td.today .inner .month.day a {
  color: white;
}
