/* $Id$ */
/**
 * @file
 * Layout Styling (DIV Positioning)
 *
 * Define CSS classes to create a table-free, 3-column, 2-column, or single
 * column layout depending on whether blocks are enabled in the left or right
 * columns.
 *
 * This layout is based on the Zen Columns layout method.
 *   http://drupal.org/node/201428
 *
 * Only CSS that affects the layout (positioning) of major elements should be
 * listed here.  Such as:
 *   display, position, float, clear, width, height, min-width, min-height
 *   margin, border, padding, overflow
 */
/**
 * @file
 * Constants
 */
/*
 * Body
 */
/* line 29, ../scss/layout-fixed.scss */
#page-wrapper,
.region-page-closure {
  /*
   * If you want to make the page a fixed width and centered in the viewport,
   * this is the standards-compliant way to do that. See also the ie6.css file
   * for the necessary IE5/IE6quirks hack to center a div.
   */
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/*
 * Header
 */
/* line 55, ../scss/layout-fixed.scss */
.region-header {
  float: right;
}

/*
 * Main (container for everything else)
 */
/* line 62, ../scss/layout-fixed.scss */
#main-wrapper {
  position: relative;
}

/*
 * Content
 */
/* line 73, ../scss/layout-fixed.scss */
#content,
.no-sidebars #content {
  float: left;
  /* LTR */
  width: 960px;
  margin-left: 0;
  /* LTR */
  margin-right: -960px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #content .section. */
}

/* line 81, ../scss/layout-fixed.scss */
.sidebar-first #content {
  width: 760px;
  margin-left: 200px;
  /* LTR */
  /* The width of .region-sidebar-first. */
  margin-right: -960px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
}

/* line 87, ../scss/layout-fixed.scss */
.sidebar-second #content {
  width: 760px;
  margin-left: 0;
  /* LTR */
  margin-right: -760px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
}

/* line 93, ../scss/layout-fixed.scss */
.two-sidebars #content {
  width: 560px;
  margin-left: 200px;
  /* LTR */
  /* The width of .region-sidebar-first */
  margin-right: -760px;
  /* LTR */
  /* Negative value of #content's width + left margin. */
}

/* line 99, ../scss/layout-fixed.scss */
#content .section {
  margin: 0;
  padding: 0;
}

/*
 * Navigation
 */
/* line 107, ../scss/layout-fixed.scss */
#navigation {
  float: left;
  /* LTR */
  width: 100%;
  margin-left: 0;
  /* LTR */
  margin-right: -100%;
  /* LTR */
  /* Negative value of #navigation's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to #navigation .section. */
  height: 53px;
}

/* line 118, ../scss/layout-fixed.scss */
.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 53px;
  /* Set this to the same value as the navigation height above. */
}

/* line 125, ../scss/layout-fixed.scss */
#navigation ul {
  margin: 0;
  padding: 0;
  text-align: left;
  /* LTR */
}

/* line 131, ../scss/layout-fixed.scss */
#navigation li {
  float: left;
  /* LTR */
}

/*
 * First sidebar
 */
/* line 138, ../scss/layout-fixed.scss */
.region-sidebar-first {
  float: left;
  /* LTR */
  width: 200px;
  margin-left: 0;
  /* LTR */
  margin-right: -200px;
  /* LTR */
  /* Negative value of .region-sidebar-first's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to .region-sidebar-first .section. */
}

/* line 146, ../scss/layout-fixed.scss */
.region-sidebar-first .section {
  margin: 0 20px 0 0;
  /* LTR */
  padding: 0;
}

/*
 * Second sidebar
 */
/* line 154, ../scss/layout-fixed.scss */
.region-sidebar-second {
  float: left;
  /* LTR */
  width: 200px;
  margin-left: 760px;
  /* LTR */
  /* Width of content + sidebar-first. */
  margin-right: -960px;
  /* LTR */
  /* Negative value of .region-sidebar-second's width + left margin. */
  padding: 0;
  /* DO NOT CHANGE. Add padding or margin to .region-sidebar-second .section. */
}

/* line 162, ../scss/layout-fixed.scss */
.region-sidebar-second .section {
  margin: 0 0 0 20px;
  /* LTR */
  padding: 0;
}

/*
 * Footer
 */
/*
 * Closure
 */
/*
 * Prevent overflowing content
 */
/* line 191, ../scss/layout-fixed.scss */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer,
.region-page-closure {
  overflow: visible;
  word-wrap: break-word;
  /* A very nice CSS3 property */
}

/* line 196, ../scss/layout-fixed.scss */
#navigation {
  overflow: hidden;
  /* May need to be removed if using a dynamic drop-down menu */
}

/*
 * If a div.clearfix doesn't have any content after it and its bottom edge
 * touches the bottom of the viewport, Firefox and Safari will mistakenly
 * place several pixels worth of space between the bottom of the div and the
 * bottom of the viewport. Uncomment this CSS property to fix this.
 * Note: with some over-large content, this property might cause scrollbars
 * to appear on the #page-wrapper div.
 */
/*
#page-wrapper {
  overflow-y: hidden;
}
*/
