/* $Id$ */
/**
 * @file
 * Navigation Styling
 */
/**
 * @file
 * Constants
 */
/*
 * The active item in a Drupal menu
 */
/* line 13, ../scss/navigation.scss */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
/* line 21, ../scss/navigation.scss */
#navigation ul {
  border-top: 5px solid #ededed;
}
/* line 25, ../scss/navigation.scss */
#navigation li {
  border-right: 1px solid #FFF;
  padding: 0;
}
/* line 29, ../scss/navigation.scss */
#navigation li.last, #navigation li.active {
  border-right: none;
}
/* line 32, ../scss/navigation.scss */
#navigation a {
  border-top: 5px solid transparent;
  color: #FFF;
  display: block;
  line-height: 48px;
  margin-top: -5px;
  padding: 0 24px;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}
/* line 43, ../scss/navigation.scss */
#navigation a:hover, #navigation a:focus {
  border-top: 5px solid black;
  background: #ededed;
  color: #333;
}
/* line 48, ../scss/navigation.scss */
#navigation li.active {
  background-color: #FFF;
}
/* line 50, ../scss/navigation.scss */
#navigation li.active a {
  border-top: 5px solid black;
  color: #000;
}

/*
 * Primary and Secondary menu links
 */
/* line 66, ../scss/navigation.scss */
#secondary-menu {
  background: #d2d2d2;
  -moz-border-radius: 3px 3px 3px 3px;
  border: 4px solid #FFF;
  display: block;
  font-size: 1em;
  font-weight: bold;
  line-height: 28px;
  text-decoration: none;
  color: #FFF;
}
/* line 76, ../scss/navigation.scss */
#secondary-menu li {
  float: left;
}
/* line 79, ../scss/navigation.scss */
#secondary-menu li a:link,
#secondary-menu li a:visited {
  color: #000;
  /* Should probably be tied to the a variable */
  text-decoration: none;
  line-height: 25px;
  font-weight: bold;
  display: block;
}
/* line 88, ../scss/navigation.scss */
#secondary-menu li:hover,
#secondary-menu li:active {
  background: #FFF;
}

/* 
 * Header Secondary Menu  
 */
/* line 96, ../scss/navigation.scss */
#user-tools-wrapper {
  background: #ededed;
  text-align: center;
  display: block;
  height: 45px;
  position: relative;
  top: -16px;
}

/* line 105, ../scss/navigation.scss */
#user-toolbar {
  margin: auto;
  width: 960px;
}
/* line 109, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links {
  float: right;
  display: block;
}
/* line 112, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links ul {
  border-top: 5px solid black;
  list-style: none;
  padding: 0;
}
/* line 118, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links li {
  border-right: 1px solid #000;
  padding: 0;
  float: left;
  background: #ededed;
}
/* line 124, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links li.last, #user-toolbar #block-menu-secondary-links li.active {
  border-right: none;
}
/* line 127, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links a {
  border-top: 5px solid transparent;
  color: #000;
  display: block;
  line-height: 24px;
  margin-top: -5px;
  padding: 0 12px;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
}
/* line 138, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links a:hover, #user-toolbar #block-menu-secondary-links a:focus {
  border-top: 5px solid #888888;
  color: #333;
}
/* line 142, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links li.active {
  background-color: #FFF;
}
/* line 144, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links li.active a {
  border-top: 5px solid black;
  color: #000;
}
/* line 150, ../scss/navigation.scss */
#user-toolbar #block-menu-secondary-links h2.title {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/*
 * Menu blocks
 */
/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
