/* $Id$ */
/**
 * @file
 * Navigation Styling
 */
/**
 * @file
 * Constants
 */
/*
 * The active item in a Drupal menu
 */
/* line 13, ../scss/navigation.scss */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
/* line 21, ../scss/navigation.scss */
#navigation ul {
  border-top: 5px solid #ededed;
}
/* line 25, ../scss/navigation.scss */
#navigation li {
  border-right: 1px solid #FFF;
  padding: 0;
}
/* line 29, ../scss/navigation.scss */
#navigation li.last, #navigation li.active {
  border-right: none;
}
/* line 32, ../scss/navigation.scss */
#navigation a {
  border-top: 5px solid transparent;
  color: #FFF;
  display: block;
  line-height: 48px;
  margin-top: -5px;
  padding: 0 24px;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}
/* line 43, ../scss/navigation.scss */
#navigation li.active {
  background-color: #FFF;
}
/* line 45, ../scss/navigation.scss */
#navigation li.active a {
  border-top: 5px solid black;
  color: #000;
}

/*
 * Primary and Secondary menu links
 */
/*
 * Menu blocks
 */
/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
