/**
 * @file
 * Constants
 */

// Header region
$header_height: 136px;

// Navigation region
$navigation_item_height: 48px;
$navigation_indicator_height: 5px;
$navigation_height: $navigation_item_height + $navigation_indicator_height;

// Colors
$color_body: #EDEDED;
$color_navigation_indicator: #000000;
// $primary_dark: mix($primary, black, 70%);
// $primary_lite: mix($primary, white, 30%);
