/* $Id$ */

/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
 /* margin-bottom: 1em; */
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First administrator-defined block */ {
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {
}

/* Welcome Message and Next Shift styling */

.region-header .block {
  margin: 0px 0px 0px 0px;
}

#block-boxes-volunteer_shifts_welcome_message,
#block-views-my_shift_signups-block_1 {
  float: right;
  border: 4px solid #FFF;
  background: #d2d2d2; /* Should be replaced by a variable */
  padding: 5px;
  margin: 0px 0px 0px 0px;
  width: 375px;

  h2.title {
    display: block;
    background: #777;
    line-height: 30px;
    padding: 0 5px;
    font-weight: normal;
    color: white;
  }

   
  .item-list ul, .item-list ul li {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }

  .item-list ul li .views-field-field-shift-date-value {
    font-size: 1.125em;
    margin: 8px 0;
    padding: 0 0 0 5px;
  } 

  .item-list ul li .views-field-edit-node,
  .item-list ul li .views-field-delete-node { 
    float: left;
  }
  
  .item-list ul li .views-field-edit-node a:link,
  .item-list ul li .views-field-delete-node a:link {
    margin: 0 3px 0 0px;
    padding: 0 10px;
    text-align: center;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 28px;
    text-decoration: none;
    -moz-border-radius: 6px 6px 6px 6px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
  }
  
  .item-list ul li .views-field-delete-node a:link {
    background: #e0e0e0;
    border: 1px solid #a2a2a2;   
  }
 
  .more-link {
    background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    padding: 5px;
    position: relative;
    text-align: center;
    top: 35px;
    width: 100px;
  }
}

#block-views-my_shift_signups-block_1 h2.title {
  padding: 0 0 0 30px;
  background: transparent url('../images/clock-icon.png') 4px 4px no-repeat;
  margin: 0 0 10px 0;
}

