/**
 * @file
 * Calendar styling for Iggy.
 */

/*****************************************************************************
 ************************* Calendar Stylings *********************************
 ****************************************************************************/
/* temporarily hide these links until we decide what to do with them*/
.calendar-calendar > ul.links {
  display: none;
}
.calendar-calendar div.date-nav {
  height: 36px;
  background-color: transparent;
  border: 0 none;
  padding: 0;
  overflow: hidden;
  margin: 0 0 5px 0;
}
.calendar-calendar div.date-nav {
  div.date-prev,
  div.date-next {
    width: 128px;
    a {
      color: #353535;
      display: block;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      text-decoration: none;
      border: 4px solid #d2d2d2;
      -moz-border-radius: 3px 3px 3px 3px;
      background-color: #ECE7E2;
    }
  }
}
  .calendar-calendar div.date-heading {
    width: 644px;
  }
    .calendar-calendar div.date-heading h3 {
      font-size: 2.5em;
      color: black;
    }
.calendar-calendar table th.days {
  font-size: 1.1em;
  height: 3.4em;
  border-bottom: 10px solid white;
}
.calendar-calendar table td {
  border-color: white;
}
  .calendar-calendar table td div.inner {
    min-height: 9em;
  }
.calendar-calendar td.empty {
  border-color: white;
}
  .calendar-calendar td div.calendar-empty {
    line-height: 0;
  }
    .calendar-calendar td .inner div.month.day {
      float: left;
      width: auto;
      border-width: 0 0 0 0;
      padding: 6px 0 0 8px;
      background-color: transparent;
    }
      .calendar-calendar td .inner div.month.day a {
        font-size: 18px;
        font-family: "Arial", sans-serif;
        color: black;
        background-color: transparent;
      }
      .calendar-calendar tr td.today .inner .month.day a,
      .calendar-calendar tr.odd td.today .inner .month.day a,
      .calendar-calendar tr.even td.today .inner .month.day a {
        color: white;
      }

