/* $Id$ */

/**
 * @file
 * Navigation Styling
 */

@import "constants";

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  a {
    color: #FFF;
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
  }
  li.active {
    background-color: #FFF;
    a {
      color: #000;
    }
  }
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
