/* $Id$ */

/**
 * @file
 * Navigation Styling
 */

@import "constants";

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  ul {
    background: #d2d2d2; /* THIS SHOULD BE REMOVED */
    border-top: $navigation_indicator_height solid $color_body;
  }

  li {
    border-right: 1px solid #FFF;
    padding: 0;
  }
  li.last, li.active {
    border-right: none;
  }
  a {
    border-top: $navigation_indicator_height solid transparent;
    color: #FFF;
    display: block;
    line-height: $navigation_item_height;
    margin-top: -$navigation_indicator_height;
    padding: 0 24px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover, a:focus {
    border-top: $navigation_indicator_height solid $color_navigation_indicator;
    background: $color_body;
    color: #333;
  }
  li.active {
    background-color: #FFF;
    a {
      border-top: $navigation_indicator_height solid $color_navigation_indicator;
      color: #000;
    }
  }
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/* 
 * Header Secondary Menu  
 */
#user-tools-wrapper {
  background: #000;
  text-align: center;
  display: block;
  height: 45px;
  position: relative;
  top: -16px;
}

#user-toolbar {
  margin: auto;
  width: 960px;

#block-menu-secondary-links { 
  float: right;
  display: block;
  ul {
    background: #d2d2d2; /* THIS SHOULD BE REMOVED */
    border-top: $navigation_indicator_height solid $color_navigation_indicator;
    list-style: none;
    padding: 0;
  }

  li {
    border-right: 1px solid #000;
    padding: 0;
    float: left;
    background: $color_body;
  }
  li.last, li.active {
    border-right: none;
  }
  a {
    border-top: $navigation_indicator_height solid transparent;
    color: #000;
    display: block;
    line-height: 24px;
    margin-top: -$navigation_indicator_height;
    padding: 0 12px;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover, a:focus {
    border-top: $navigation_indicator_height solid #888;
    color: #333;
  }
  li.active {
    background-color: #FFF;
    a {
      border-top: $navigation_indicator_height solid $color_navigation_indicator;
      color: #000;
    }
  }
  
  h2.title {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  
}

}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
