/* $Id$ */

/**
 * @file
 * Navigation Styling
 */

@import "constants";

/*
 * The active item in a Drupal menu
 */
li a.active {
  color: #000;
}

/*
 * Navigation bar
 */
#navigation {
  ul {
    border-top: $navigation_indicator_height solid $color_body;
  }

  li {
    border-right: 1px solid #FFF;
    padding: 0;
  }
  li.last, li.active {
    border-right: none;
  }
  a {
    border-top: $navigation_indicator_height solid transparent;
    color: #FFF;
    display: block;
    line-height: $navigation_item_height;
    margin-top: -$navigation_indicator_height;
    padding: 0 24px;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
  }
  li.active {
    background-color: #FFF;
    a {
      border-top: $navigation_indicator_height solid $color_navigation_indicator;
      color: #000;
    }
  }
}

.region-navigation {
}

/*
 * Primary and Secondary menu links
 */
#main-menu {
}

#secondary-menu {
}

/*
 * Menu blocks
 */
.block-menu {
}

/*
 * "Menu block" blocks. See http://drupal.org/project/menu_block
 */
.block-menu_block {
}
